.env
venv
venv2
reports/
__pycache__/
trading_report.log
.DS_Store
cron.log
plots

cex_connection.py
risk_report.py
database2.db
2.env
backup.env
db/database-backup.db
db/database_old1.db

data
analysis_output
positions_analysis
analysis_reports
deep-analysis
deep-analysis-2
test.csv